name: Backend Tests
on: 
  pull_requests

jobs: 

  check_paths:
    runs-on: ubuntu-latest
    outputs:
      should_run: ${{ steps.filter.outputs.backend }}
    steps: 
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3.0.2
        id: filter
        with:
          filters: |
            backend:
              - 'src/backend/**'
              - '.github/workflows/backend-tests.yaml'
  test:
    name: BackendScan
    needs: check_paths
    if: ${{ needs.check_paths.outputs.should_run == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/backend
    steps:
      - name: Checkout code
        uses: actions/checkout@4

      - name: Install UV
        uses: astral-sh/setup-uv@v5

      - name: Setup Python
        run: uv python install

      - name: Install dependencies
        run: |
          uv sync --locked --dev

      - name: Linting wiht Ruff
        run: |
          uv run ruff check --output-format=github --target-version=py313 src tests
          uv run ruff format --diff --check --target-version=py313 src tests
